h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Libre Franklin', sans-serif;
}

a {
    cursor: pointer;
}

h2 {
    color: #344151;
    font-size: 22px;
    margin-bottom: 5px;
}

h3 {
    color: #79c9b9;
    margin: 0;
    font-size: 16px;
}

h4 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    font-size: 14px;
    font-weight: 100;
}

.fed {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}

button:hover {
    background: rgba(0, 0, 0, 0) !important;
    color: #000;
    box-shadow: inset 0 0 0 3px #75cab9;
}

body {
    width: 100%;
    background-image: url(img/baggrund_sten.jpg);
    background-size: cover;
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    width: 78%;
    float: right;
    margin: 20px 20px 20px 0;
}

#arrow {
    cursor: pointer;
    padding: 4em 0;
    width: 14%;
    margin: 0 43%;
    @include animation(bounce 2s infinite);
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@include keyframes(bounce) {
    0%,
    20%,
    50%,
    80%,
    100% {
        @include transform(translateY(0));
    }
    40% {
        @include transform(translateY(-20px));
    }
    60% {
        @include transform(translateY(-15px));
    }
}


#forside_baggrund {
    height: 100%;
    background-image: url(img/baggrund.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.tekst_indhold {
    overflow-wrap: break-word;
    width: 80%;
    padding: 1em;
    line-height: 1.3em;
    text-shadow: 1px 1px #FFF;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 400;
    margin: 0 auto;
    clear: both;
    color: #000;
}

.tekst_indhold_h3 {
    text-align: center;
    font-weight: 400;
    text-shadow: 1px 1px #FFF;
    color: #000;
    font-size: 18px;
}

#indhold {
    line-height: 1.4em;
    margin: 1em;
    padding-top: 1px;
    clear: both;
}

#indhold_restaurant {
    line-height: 1.4em;
    margin: 1em;
    padding-top: 1px;
    clear: both;
}

#kontrolrapport {
    color: #000;
    font-size: 14px;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #79c9b9;
    transition: color 0.3s ease;
}

a:hover {
    color: #79c9b9;
}

img.retter {
    z-index: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.retter_content {
    z-index: 0;
    position: relative;
}

.retter_logo {
    width: 20vw;
    position: absolute;
    bottom: 50vw;
    left: 40%;
}

.retter_logo_deli {
    width: 20vw;
    position: absolute;
    bottom: 280px;
    left: 40%;
}

.overskrift {
    margin: 0px 0 0 20px;
}

#knap button {
    width: 29%;
    background: #79c9b9;
    border: 0;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 100;
    border-radius: 8px;
    float: left;
    margin: 0px 6px 40px 6px;
}

#knap_read_more button {
    width: 33%;
    background: #79c9b9;
    border: 0;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 100;
    border-radius: 8px;
    margin: 0px 0px 40px 0px;
}

.retter_kort_beskrivelse p {
    text-shadow: 1px 1px #FFF;
    margin: 0;
}

/*------------FORM--------------*/

.form_nyhedsbrev {
    clear: both;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact {
    padding: 0px 1em;
    margin: 15px 0;

}

#contact_modtager {
    border-top: solid 5px #79c9b9;
    padding: 0px 1emf;
    margin: 15px 0;

}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 93%;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#myBtn {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #79c9b9;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}



/*------------MENU--------------*/

#menuToggle {
    margin: 0;
    float: left;
    width: 10%;
    padding: 20px 0 0 20px;
    display: block;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 60px;
    height: 50px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #79c9b9;
    border-radius: 3px;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked ~ span {
    z-index: 110;
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #79c9b9;
}

/*
 * But let's hide the middle one.
 */

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    z-index: 1;
    position: absolute;
    width: 83%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: rgba(237, 237, 237, 0.97);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle span {
    z-index: 110;
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    font-weight: 700;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

/*--------------GALLERI SLIDER-----------------*/

#slides {
    clear: both;
    width: 100%;
    height: 280px;
    object-fit: cover;
    position: relative;
    padding: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: -1;
}

/*----------BACKGROUND SLIDER PÅ INDEX-----------*/

/*.crossfade > figure {
    animation: imgAnimation 20s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
    margin: 0;
}

.crossfade > figure:nth-child(1) {
    background-image: url('img/slider1.jpg');
}

.crossfade > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url('img/slider2.jpg');
}

.crossfade > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url('img/slider3.jpg');
}

.crossfade > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url('img/slider4.jpg');
}

.crossfade > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: url('img/slider5.jpg');
}

.crossfade > figure:nth-child(6) {
    animation-delay: 24s;
    background-image: url('img/slider6.jpg');
}

@keyframes imgAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }

    5% {
        animation-timing-function: ease-out;
        opacity: 1;
    }

    15% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}*/

/*-------------BOOKING---------------*/

#book_bord {
    margin-top: 1em;
    width: 100%;
    height: 650px;
}


/*-------------FOOTER---------------*/

#map {
    filter: grayscale(100%);
    width: 100%;
    height: 300px;
}

footer {
    padding: 10px 0;
    padding: 1em;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2,
    1fr);
    grid-gap: 20px;
    grid-column: 1
}

#stor_footer {
    clear: both;
    border-top: solid 5px #80cebe;
    background: rgba(98, 194, 175, 0.47);
}

#stor_footer h2 {
    margin: 5px 0px 10px 0px;
}

#socialmedia {
    grid-column: 2/3;
    grid-row: 1;
}

img.socialicon {
    position: relative;
    bottom: -50px;
    padding: 3px;
    float: right;
    width: 30px;
}

#kontakt {
    grid-column: 1/2;
    grid-row: 1;
}

#tilmeld_footer button {
    width: 100%;
    background: #4a5765;
    border: 0;
    padding: 7px 16px;
    font-size: 11px;
    font-weight: 100;
    border-radius: 8px;
    border: solid 1px #adadad;
    margin-top: 15px;
    color: #FFF;
}

footer p {
    font-size: 12px;
    color: #515d6a;
    font-weight: 700;
    margin-bottom: 5px;
}

/*----------------RESPONSIVE------------------*/

@media screen and (min-width: 550px) {

    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #indhold {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    #logo {
        z-index: 8;
        margin-right: 20px;
        width: 50%;
    }

    #nav {
        width: 10%;
    }

    #slides {
        width: 100%;
        height: 250px;
    }

    p {
        margin-top: 0;
    }
    #templateModtager {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-column: 1
    }

    #knap button {
        width: 100%;
        margin: 10px 0px;
    }
}


@media screen and (min-width: 600px) {

    #slides {
        height: 300px;
    }

}

@media screen and (min-width: 750px) {

    #logo {
        margin-right: 20px;
        width: 25%;
    }

    .overskrift {
        max-width: 90%;
        margin: 0 auto;
        padding: 1em 0 1em 1em;
    }
}


@media screen and (min-width: 850px) {

    #knap button {
        width: 29%;
        background: #79c9b9;
        border: 0;
        padding: 7px 16px;
        font-size: 11px;
        font-weight: 100;
        border-radius: 8px;
        float: left;
        margin: 0px 6px 40px 6px;
    }

    #templateModtager {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        grid-column: 1
    }

    #menu {
        width: 94.5%;
    }
}
